.header
  .container
    a.logo(href='/' )
      img(src='/images/house-commerce.png' alt='Craft logo' width='70px' height='65px')
      | Crafts  
    .nav
      i#icon.bi.bi-list
      ul.ull
        li: a(href='#') About
        li: a(href='#') Services
        li: a(href='#') Catigories
        li: a(href='#') Contact
        li: a.log(href='/index2.html') Login
script.
  $("#icon").click(function () {
  $(".ull").toggle();
  })
