header.header
  .container
    a.logo(href='#')
      img(src='/images/house commerce.png' width='70px' height='65px')
      | Crafts
    .nav
      i#icon.bi.bi-list
      ul.ull
        li
          a(href='#services') About
        li
          a(href='#portifolio') Services
        li
          a(href='#about') Catigories
        li
          a(href='#pricing') Contact
        li
          a.log(href='/login') register

