extends base

block content

  .login
    .container1
      .forms-container
        .signin-signup
          form.sign-in-form(action='')
            h2.title Log in
            .input-field
              i.fas.fa-user
              input(type='text' placeholder='Username')
            .input-field
              i.fas.fa-lock
              input(type='password' placeholder='password')
            .password
              a(href='index3.htm')
                p Forgot password?
            input.btn(type='submit' value='login')
            //
              <p class="social-text">Or sign in with social platforms</p>
              <div class="social-media">
              <a href="#" class="social-icon">
              <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#" class="social-icon">
              <i class="fab fa-twitter"></i>
              </a>
              <a href="#" class="social-icon">
              <i class="fab fa-google"></i>
              </a>
              <a href="#" class="social-icon">
              <i class="fab fa-linkedin-in"></i>
              </a>
              </div>
          form.sign-up-form(action='')
            h2.title Sign Up
            .input-field
              i.fas.fa-user
              input(type='text' placeholder='Username' required='required')
            .input-field
              i.far.fa-envelope
              input(type='email' placeholder='E-mail' required='required')
            .input-field
              i.fas.fa-home
              input#mycity(placeholder='Your country' list='cities' required='required')
              datalist#cities
                option(value='Alexandria')
                option(value='Aswan')
                option(value='Asyut')
                option(value='Beheira')
                option(value='Beni Suef')
                option(value='Cairo')
                option(value='Dakahlia')
                option(value='Damietta')
                option(value='Faiyum')
                option(value='Gharbia')
                option(value='Giza')
                option(value='Ismailia	')
                option(value='Kafr El Sheikh')
                option(value='Luxor')
                option(value='Matruh')
                option(value='Minya')
                option(value='Monufia')
                option(value='New Valley')
                option(value='North Sinai')
                option(value='Port Said')
                option(value='Qalyubia')
                option(value='Qena')
                option(value='Red Sea')
                option(value='Sharqia')
                option(value='Sohag')
                option(value='South Sinai')
                option(value='Suez')
            .input-field
              i.fas.fa-map-marker-alt
              input(type='text' placeholder='Full Address' required='required')
            .input-field
              i.far.fa-id-card
              input(type='text' placeholder='Your ID' required='required')
            .input-field
              i.fas.fa-mobile-alt
              input(type='text' placeholder='Your phone' required='required')
            .input-field
              i.fas.fa-lock
              input(type='password' placeholder='password' required='required')
            .input-field
              i.fas.fa-lock
              input(type='password' placeholder='confirm password' required='required')
            input.btn(type='submit' value='Sign Up')
      .panels-container
        .panel.left-panel
          .content
            h3 Join with Us
            button#sign-up-btn.btn.transparent Sign up
          img.image(src='images/undraw_voice_interface_eckp.svg' alt='')
        .panel.right-panel
          .content
            h3 One of us ?
            button#sign-in-btn.btn.transparent Sign in
          img.image(src='images/undraw_online_resume_re_ru7s.svg' alt='')
