extends base 

block content 
  main.main
    each tour in tours
      .overview-box__detail
        span.overview-box__label= tour.name
      .overview-box__detail
        span.overview-box__text= tour.review
