extends base

block content
  .landing
    .container
      .text
        h1 Welcome, Shop and sell now
        p
          | All of our products are professionally handmade, you can buy whatever you want and also sell your products here.
        button.btn
          a(href='#catigories')
          | SHOP NOW
      .imagee
        img(src='/images/landing1.png' alt='home-commerce')
      a.go-down(href='#articles')
        i.bi.bi-chevron-double-down
